.feynman__title {
  margin: 100px 0 0 0;
  width: 648px;
  align-self: center;
  justify-content: center;
  display: flex;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
