.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

* p, h1, h2, h3 {
  margin: 0;
}

* a {
  color:#2f80ed;
}

/* section header start */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  /* выше установили ограничения для секции */
}

/* и элемента с модификатором вида ключ-значение */
/* .table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
} */

.header__logo {
  display: flex;
  padding: 30px 0 0 64px;
  position: absolute;
}

.header__title {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 96px;
  font-weight: 600;
  font-size: 102px;
  padding: 0 0 0 64px;
  height: 100%;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  padding: 0 0 30px 64px;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  background-color:#2f80ed;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  z-index: 0;
}
/* section header end */

/* section description start */
.description {
  padding: 100px 0 0 0;
  display: flex;
  justify-content: center;
}

.two-colums {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-colums__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  color: #2f80ed;
}

.two-colums__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
}

.two-colums__paragraph p:nth-of-type(2) {
  margin: 30px 0 30px 0;
}

.two-colums__span-accent {
  font-weight: 600;
}
 /* section description end */

/* section digits start */
.digits {
  padding: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 1100px;
  margin: 0 auto;
}

.section__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.section__subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 0 auto;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
}

.table__cell {
  width: 250px;
  display: flex;
  flex-direction: column;

}

.table__list_row_first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 0 0 0;
}

.table__list_row_second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 0 0 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
}

.table__text_padding_top{
  padding-top: 20px;
}

.table__text_padding_bottom {
  padding-bottom: 20px;
}
/* section digits end */

/* section feyman start */
.feynman {
  height: 890px;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-position: left bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

.feynman__title {
  margin: 100px 0 0 0;
  width: 648px;
  align-self: center;
  justify-content: center;
  display: flex;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.feynman__subtitle {
  align-self: center;
  padding: 70px 0 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 0;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link_decoration_disabled {
  text-decoration: none;
}

/* section feyman end */

/* section kaufman start */




